@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}


/* Upper case */

.upper-case {
    text-transform: uppercase;
}


/* ---------------------------------------------- */


/* Home section */

.home {
    display: flex;
    background: url("/vendors/img/banner.png") no-repeat 10% 40%;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    color: #111111;
    font-family: 'Merriweather', serif;
}

.home .container-fluid {
    margin: auto 0 auto 20px;
    transition: all 0.5s ease;
}


/* Responsive banner */

@media screen and (max-width: 1053px) {
    .home {
        background-size: 70%;
        background-position: center right;
        height: 55vh;
    }
    /* .home .container-fluid {
        transform: translateY(+50%);
    } */
}

@media screen and (max-width: 414px) {
    .home {
        background: url('./vendors/img/test.png') no-repeat center;
        background-attachment: fixed;
        background-size: 150%;
    }
    .home .home-content .text {
        display: none;
    }
}

.home .home-content .text {
    margin: 15px 0 0 10px;
    font-size: 2rem;
}

.home .home-content #text-1 {
    font-size: 1.8rem;
    color: #d64207;
}

.home .home-content #text-2 {
    font-size: 3rem;
    font-weight: 500;
    margin-left: 13px;
}

.home .home-content #text-3 {
    font-size: 20px;
    font-weight: 200;
}


/* Effect text smooth */

.card-text,
.card-img {
    opacity: 0;
    transform: translateX(120px);
    transition: all 1s ease;
}

.appear {
    opacity: 1;
    transform: translateX(0px);
}


/* ---------------------------------------- */


/* About section */

.about {
    box-shadow: 0px -5px 14px 2px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
}

.about .title {
    padding: 30px 0;
    /* margin: 30px 0; */
    text-align: center;
    font-weight: 700;
    font-style: italic;
}


/* Quote */

.quote {
    margin: 0;
    background: #eee;
    padding: 5px 1em;
    border-radius: 1em;
    font-style: italic;
}

.quote figcaption,
.quote blockquote {
    margin: 1em;
}


/* -------------------------- */


/* Skills section */


/* Grid image gallery */

.skill-content .title {
    margin: 50px 0;
    text-align: center;
}

.skill-content #my-work--row .row {
    padding: 2rem;
}

.skill-content #my-work--row img {
    margin-top: 8px;
    width: 100%;
}