@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}


/* Navigation bar */

#my-navbar {
    min-height: 10vh;
    padding: 15px 15px;
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: all 0.5s ease;
    font-family: 'Space Grotesk', sans-serif;
    z-index: 9999;
}


/* JS added transition to navbar */

.navbar-scroll {
    top: 0;
    padding: 25px 40px !important;
    background-color: rgb(39, 37, 37) !important;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4) !important;
}

.navbar-scroll .menu li a,
.navbar-scroll #brandLogo {
    color: white !important;
}

.navbar-scroll .menu li a:hover {
    color: rgb(122, 39, 218) !important;
}


/* Brand logo */

#my-navbar #brandLogo {
    font-family: 'Langar', cursive;
    font-size: 2.5em;
    font-style: italic;
}

#my-navbar #brandLogo span {
    background: linear-gradient(to right, rgb(122, 39, 218), crimson);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* menu list item */

#my-navbar .menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
}

#my-navbar .menu li a {
    color: #ad3434;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 18px;
    transition-duration: 0.3s;
}

#my-navbar .menu li a:hover {
    color: #463d46;
}


/* Burger menu */

#my-navbar .burgerMenu {
    font-size: 2.5rem;
    position: absolute;
    display: none;
    right: 0;
    padding: 0 10px;
    cursor: pointer;
}

.navbar-scroll .burgerMenu {
    color: #ffffff;
}

@media screen and (max-width: 1053px) {
    #my-navbar .menu {
        width: 50%;
    }
}


/* Transition on click burger */

@media screen and (max-width: 1053px) {
    #my-navbar .menu {
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        height: 55vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: all 0.3s ease-in-out;
        background-color: #111111;
        z-index: 5000;
        transform: translateY(-100%);
    }
    #my-navbar .burgerMenu {
        z-index: 5000;
        display: flex;
        right: 0;
        padding: 0 30px;
        transition: all 0.5s ease;
    }
    #my-navbar .dropdown-active {
        transform: translateY(0%);
    }
    #my-navbar .burgerMenu i.active,
    #my-navbar .burgerMenu i {
        font-weight: 700;
        font-size: 2.5rem;
    }
    #my-navbar .burgerMenu i.active:before {
        content: "\⛌";
    }
}


/* Upper case */

.upper-case {
    text-transform: uppercase;
}


/* ---------------------------------------------- */


/* Home section */

.home {
    display: flex;
    background: url("/vendors/img/banner.png") no-repeat 10% 40%;
    background-attachment: fixed;
    background-size: cover;
    height: 75vh;
    min-height: 500px;
    color: #111111;
    font-family: 'Merriweather', serif;
}

.home .container-fluid {
    margin: auto 0 auto 20px;
    transition: all 0.5s ease;
}


/* Responsive banner */

@media screen and (max-width: 1053px) {
    .home {
        background-size: 70%;
        background-position: center right;
        height: 55vh;
    }
    /* .home .container-fluid {
        transform: translateY(+50%);
    } */
}

@media screen and (max-width: 414px) {
    .home {
        background: url('./vendors/img/test.png') no-repeat center;
        background-attachment: fixed;
        background-size: 150%;
    }
    .home .home-content .text {
        display: none;
    }
}

.home .home-content .text {
    margin: 15px 0 0 10px;
    font-size: 2rem;
}

.home .home-content span {
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home .home-content #text-1 {
    font-size: 1.8rem;
}

.home .home-content #text-2 {
    font-size: 3rem;
    font-weight: 500;
    margin-left: 13px;
}

.home .home-content #text-3 {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
}


/* ---------------------------------------- */


/* About section */

.about {
    box-shadow: 0px -5px 14px 2px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
}

.about .title {
    position: relative;
    padding: 30px 0;
    /* margin: 30px 0; */
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 700;
    font-style: italic;
}


/* Card custom css */

#aboutCard--img {
    display: flex;
    position: relative;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #aboutCard--img {
        display: contents;
    }
}

#aboutCard--body,
#aboutCard--body .card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}

#aboutCard--body .para {
    font-size: 1.3rem;
}

#aboutCard--body .para i {
    color: teal;
}

#aboutCard--body .para span {
    background: linear-gradient(to right, #642b73, #c6426e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

#aboutCard--body #para-first ol {
    margin: 0 15px;
}


/* Quote */

.quote {
    margin: 0;
    background: #eee;
    padding: 5px 1em;
    border-radius: 1em;
    font-style: italic;
}

.quote figcaption,
.quote blockquote {
    margin: 1em;
}


/* Grid image gallery */

.about-content #my-work--row .row {
    padding: 2rem;
}

.about-content #my-work--row img {
    margin-top: 8px;
    width: 100%;
}